@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dEntregaContrato/Index"><i class="fas fa-user-nurse"></i> Entregar Contratos</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dEntregaPropiedad/Index"><i class="fas fa-microscope"></i> Entregar Propiedades</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dAvanceConstruccion/Index"><i class="fas fa-money-check"></i> Avanzar Etapa Construccion</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dVentaPropiedad/Index"><i class="fas fa-arrows-alt-v"></i> Vender Propiedades</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/DocFactura/Index"><i class="fas fa-sync-alt"></i> Facturar Mantenimientos</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dFacturaComision/Index"><i class="fas fa-angle-double-left"></i> Facturar Comisiones</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dTemaPendiente/Index"><i class="fas fa-redo"></i> Temas Pendientes</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dAreaPropiedad/Index"><i class="fas fa-bullseye"></i> Area Propiedad*</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dContrato/Index"><i class="fas fa-file-video"></i> Contrato*</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dEquipoPropiedad/Index"><i class="fas fa-couch"></i> Equipos Propiedad*</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dSeguro/Index"><i class="fas fa-hand-point-right"></i> Seguros*</a>



</div>