@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item" asp-area="" asp-page="/Index">Precios de venta por grupo y tipo de propiedad y estado</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propiedades y dueños</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Contratos pendientes de firma</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propiedades sin contratos de seguros</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propiedades por ciudad y estado</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propiedades a entregar por periodo</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propiedades entregadas por periodo</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Total de propiedades por grupo y tipo y estado</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Resumen de temas pendientes por propiedad</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propiedades por etapa de construcción</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propietarios por lugar de residencia</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propiedades por rango de tamaño y estado</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Entidades por tipo</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propiedades vendidas por agencia inmobiliaria</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Comisión por agencia inmobiliaria</a>
    <a class="list-group-item"  asp-area="" asp-page="/Index">Propietarios por nacionalidad</a>
</div>