@page
@model ContosoUniversity.Areas.Facturacion.Pages.dAvances.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1><i class="fas fa-pen"></i> Editar</h1>

<h4>AvanceConstruccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AvanceConstruccion.ID" />
            <div class="form-group">
                <label asp-for="AvanceConstruccion.PropiedadID" class="control-label"></label>
                <select asp-for="AvanceConstruccion.PropiedadID" class="form-control" asp-items="ViewBag.PropiedadID"></select>
                <span asp-validation-for="AvanceConstruccion.PropiedadID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvanceConstruccion.Fecha" class="control-label"></label>
                <input asp-for="AvanceConstruccion.Fecha" class="form-control" />
                <span asp-validation-for="AvanceConstruccion.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvanceConstruccion.Descripcion" class="control-label"></label>
                <input asp-for="AvanceConstruccion.Descripcion" class="form-control" />
                <span asp-validation-for="AvanceConstruccion.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvanceConstruccion.PorcentajeAvance" class="control-label"></label>
                <input asp-for="AvanceConstruccion.PorcentajeAvance" class="form-control" />
                <span asp-validation-for="AvanceConstruccion.PorcentajeAvance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index"><i class="fas fa-arrow-circle-left"></i> Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
