@page
@model ContosoUniversity.Areas.Propiedades.Pages.dDetalleNacionalidad.CreateModel

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>DetalleNacionalidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DetalleNacionalidad.NacionalidadID" class="control-label"></label>
                <select asp-for="DetalleNacionalidad.NacionalidadID" class ="form-control" asp-items="ViewBag.NacionalidadID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetalleNacionalidad.ClienteID" class="control-label"></label>
                <select asp-for="DetalleNacionalidad.ClienteID" class ="form-control" asp-items="ViewBag.ClienteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetalleNacionalidad.Descripcion" class="control-label"></label>
                <input asp-for="DetalleNacionalidad.Descripcion" class="form-control" />
                <span asp-validation-for="DetalleNacionalidad.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
