@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item" asp-area="" asp-page="/Prestamos/Index"><i class="fas fa-receipt"></i> Solicitudes de Prestamos</a>
    <a class="list-group-item" asp-area="Prestamos" asp-page="/dEmisionPrestamo/Index"><i class="fas fa-wallet"></i> Emisiones de Prestamos</a>
    <a class="list-group-item" asp-area="Prestamos" asp-page="/dAcuerdoPago/Index"><i class="fas fa-piggy-bank"></i> Acuerdos de Pago</a>
    <a class="list-group-item" asp-area="Prestamos" asp-page="/dPago/Index"><i class="fas fa-hand-holding-usd"></i> Pagos a Prestamos</a>
</div>