@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item" asp-area="" asp-page="/Index">Prestamos por tipo de cliente y grupo y tipo de propiedades</a>
    <a class="list-group-item" asp-area="" asp-page="/Index">Listado de acuerdo de pagos</a>
    <a class="list-group-item" asp-area="" asp-page="/Index">Estado de cuenta de prestamos</a>
    <a class="list-group-item" asp-area="" asp-page="/Index">Resumen de antigüedad de prestamos</a>
    <a class="list-group-item" asp-area="" asp-page="/Index">Tabla de amortización</a>
</div>
