@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<option value="">Seleccionar ...</option>
<option value="Ventas">Ventas</option>
<option value="Servicio">Servicio Al Cliente</option>
<option value="Oficina Virtual">Oficina Virtual</option>
<option value="Comprobantes Fiscales">Comprobantes Fiscales</option>
<option value="Anomalias">Anomalias Lectura</option>
<option value="Facturacion">Facturacion</option>
<option value="Propiedad">Propiedad</option>
<option value="Comisiones Venta">Comisiones Venta</option>
<option value="Inventario">Inventario</option>