@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item"asp-area="" asp-page="/Configuraciones/Index" asp-route-moduloConfig="Facturacion"><i class="fas fa-cog"></i> Configuración del Módulo</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/dTipoServicio/Index"><i class="fas fa-address-book"></i> Tipos De Servicio</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/dTipoFacturacion/Index"><i class="fas fa-chart-area"></i> Tipos De Facturacion</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/dServicio/Index"><i class="fas fa-reply"></i> Servicio</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/dTipoAnomalia/Index"><i class="fas fa-university"></i> Tipos De Anomalia</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/dTipoRuta/Index"><i class="fas fa-sign-out-alt"></i> Tipo De Ruta</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/dRuta/Index"><i class="fas fa-shopping-bag"></i> Rutas De Lectura</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dTipoMedidor/Index"><i class="fas fa-walking"></i> Tipo Medidor</a>
    <a class="list-group-item" asp-area="Propiedades" asp-page="/dImpuesto/Index"><i class="fas fa-receipt"></i> Tabla de Impuesto</a>
    <a class="list-group-item" asp-area="" asp-page="/Configuraciones/Index" asp-route-moduloConfig="Comprobantes"><i class="fas fa-ticket-alt"></i>Comprobantes Fiscales</a>
    <a class="list-group-item" asp-area="" asp-page="/Configuraciones/Index" asp-route-moduloConfig="Anomalias"><i class="fas fa-ticket-alt"></i>Anomalias De Lectura</a>

</div>