@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">

    <a class="list-group-item" asp-area="Facturacion" asp-page="/dLectorMedidor/Index"><i class="fas fa-history"></i> Asignar Lector Medidor</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/dCalendarioLectura/Index"><i class="fas fa-hand-point-left"></i> Calendario De Lectura</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/dTomaLectura/Index"><i class="fas fa-chevron-down"></i> Toma De Lecturas</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/DocFactura/Index"><i class="far fa-file-powerpoint"></i> Verificacion De Anomalias</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/DocFactura/Index"><i class="far fa-file-code"></i> Generación De Facturas</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/DocFactura/Index"><i class="fas fa-people-carry"></i> Facturar Manualmente</a>
</div>