@page
@model IndexModel
@{ ViewData["Title"] = "Inicio FlexiblePROP"; }

<br>
<br />

@* Estilo navegacion con pestañas *@
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="inicio-tab" data-toggle="tab" href="#inicio-contenido" aria-controls="product" aria-selected="true">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mapa-tab" data-toggle="tab" href="#mapa-contenido" aria-controls="supplier" aria-selected="false">Mapa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="proyecto-tab" data-toggle="tab" href="#proyecto-contenido" aria-controls="orders" aria-selected="false">Proyectos</a>
    </li>
</ul>
@*Fin de navegacion estilo pestanas*@

@*Contenido de las pestañas*@
<div class="tab-content p-3 border-right border-left">

    <div class="tab-pane active" id="inicio-contenido" role="tabpanel" aria-labelledby="inicio-tab">
        <partial name="_vistaPrincipal" />
    </div>

    <div class="tab-pane fade " id="mapa-contenido" role="tabpanel" aria-labelledby="mapa-tab">
        <partial name="_mapaGoogle" />
    </div>

    <div class="tab-pane fade " id="proyecto-contenido" role="tabpanel" aria-labelledby="proyecto-tab">
        <p>Estos son proyectos </p>
    </div>

</div>
