@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item" asp-area="Renta" asp-page="/Propiedad/Index"><i class="fas fa-store"></i> Actualizar Disponibilidad Rentas</a>
    <a class="list-group-item" asp-area="Renta" asp-page="/Propiedad/Index"><i class="far fa-building"></i> Reservar Propiedades</a>
    <a class="list-group-item" asp-area="Renta" asp-page="/Renta/Index"><i class="fas fa-warehouse"></i> Entregar Rentas(propiedad)</a>
    <a class="list-group-item" asp-area="Renta" asp-page="/Renta/Index"><i class="far fa-sticky-note"></i> Descargar Rentas</a>
    <a class="list-group-item" asp-area="Facturacion" asp-page="/DocFactura/Index"><i class="far fa-money-bill-alt"></i> Facturar Servicios Rentas</a>
    <a class="list-group-item" asp-area="Renta" asp-page="/Reparaciones/Index"><i class="fas fa-paint-roller"></i> Sugerencias Reparaciones</a>
    <a class="list-group-item" asp-area="Renta" asp-page="/dFacturaComisionRenta/Index"><i class="fas fa-exchange-alt"></i> Facturar Comisiones Rentas</a>
</div>





