@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item" asp-area="" asp-page="/Configuraciones/Index" asp-route-moduloConfig="CuentaxCobrar"><i class="fas fa-cog"></i> Configuración del Módulo </a>
    <!-- <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dCliente/Index"><i class="far fa-user"></i> Clientes </a> -->
    <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dTipoTransaccion/Index"><i class="fas fa-project-diagram"></i> Tipo de Operaciones</a>
    <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dFormaPago/Index"><i class="fas fa-chevron-circle-right"></i> Forma de Pago</a>
    <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dBanco/Index"><i class="fas fa-torii-gate"></i> Bancos </a>
    <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dMovimientoBancario/Index"><i class="fas fa-file-invoice"></i> Movimiento Bancario</a>
    <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dMovimientoBancario/Index"><i class="fas fa-percentage"></i> Actualizar Tasa Cambio</a>
</div>