@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dCobro/Index"><i class="fas fa-chalkboard"></i> Aplicar Cobro</a>
    <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dNotaDebito/Index"><i class="fas fa-funnel-dollar"></i> Notas de Debito</a>
    <a class="list-group-item" asp-area="CuentasXCobrar" asp-page="/dNotaCredito/Index"><i class="fas fa-power-off"></i> Notas de Credito</a>
</div>