@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">
    <a class="list-group-item" asp-area="" asp-page="/Index">Estado de cuenta por tipo de cliente y grupo y tipo de propiedades</a>
    <a class="list-group-item" asp-area="" asp-page="/Index">Antigüedad de deudas</a>
    <a class="list-group-item" asp-area="" asp-page="/Index">Cobros por rango de periodos</a>
</div>
