@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="list-group">

    <a class="list-group-item" asp-area="Servicio" asp-page="/dQueja/Index"><i class="fas fa-vihara"></i> Sugerencias y comentarios </a>
    <a class="list-group-item" asp-area="Servicio" asp-page="/dReclamacion/Index"><i class="fas fa-poll-h"></i> Solicitudes reservaciones instalaciones </a>
    <a class="list-group-item" asp-area="Servicio" asp-page="/dSugerencia/Index"><i class="fas fa-store-alt"></i> Atender reclamaciones </a>

</div>