@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Reportes
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Lista De Villas</a>
        <a class="dropdown-item" href="#">Informes de Prestamos</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="far fa-address-book"></i> Factura de gas</a>
        <a class="dropdown-item" asp-area="" asp-page="/Propietarios/Index"> <i class="far fa-address-book"></i> Propietarios</a>
        <a class="dropdown-item" asp-area="" asp-page="/Prestamos/Index"><i class="far fa-address-book"></i> Lista De Prestamos</a>
        <a class="dropdown-item" asp-area="Facturacion" asp-page="/DocFactura/Index"><i class="far fa-address-book"></i> Facturas</a>
        <a class="dropdown-item" asp-area="Propiedades" asp-page="/dPropiedad/Index"><i class="far fa-file-pdf"></i> Prueba</a>
        <a class="dropdown-item" asp-area="Propiedades" asp-page="/dEntregaContrato/Index"><i class="fas fa-user-nurse"></i> Entrega Contrato</a>
    </div>
</li>