@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/About">Acerca De</a>
</li>
<li class="nav-item">
    <!--<input type="button" onclick="window.print();" /> -->
    <!--<a class="nav-link text-dark" onclick="window.print();">Imprimir</a> -->
    <button type="button" class="btn btn-link" onclick="window.print();">Imprimir</button>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Soporte">Soporte</a>
</li>

    <!--

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Courses/Index">Cursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Instructors/Index">Instructores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Departments/Index">Departamentos</a>
    </li>
        -->
