@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--INICIO-->
<h2><i class="fas fa-hotel"></i> Propiedades </h2>
<p class="p-lg-2">Operaciones importantes de propiedades</p>
<p></p>
<div id="accordion">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#pMaestros" aria-expanded="false" aria-controls="collapseOne">
                    <i class="fas fa-folder-open"></i> Maestros
                </button>
            </h5>
            <p>Lista de entidades para el funcionamiento del módulo</p>
        </div>

        <div id="pMaestros" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <partial name="Items Menu/Propiedad/_maestrosPropiedad" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#pOperaciones" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-pen"></i> Operaciones
                </button>
            </h5>
            <p>Operaciones que puede realizar en este módulo</p>
        </div>
        <div id="pOperaciones" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <partial name="Items Menu/Propiedad/_procesosPropiedad" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#pReportes" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fas fa-file-invoice"></i>  Reportes
                </button>
            </h5>
            <p>Genere reportes y analice su contenido para toma de desiciones</p>
        </div>
        <div id="pReportes" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <partial name="Items Menu/Propiedad/_reportesPropiedad" />
            </div>
        </div>
    </div>

    <!-- FIN -->
</div>
