@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row mb-auto">
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 mb-6 ">
                <partial name="_tarjetaPropiedades" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 d-flex flex-column position-static">
                <partial name="_tarjetaRentas" />
            </div>
        </div>
    </div>
</div>
<br />

<div class="row mb-auto">
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 d-flex flex-column">
                <partial name="_tarjetaServicioCliente" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 mb-6 ">
                <partial name="_tarjetaLecturas" />
            </div>
        </div>
    </div>
</div>
<br />

<div class="row mb-auto">
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 d-flex flex-column position-static">
                <partial name="_tarjetaCuentasxCobrar" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 d-flex flex-column">
                <partial name="_tarjetaPropietarios" />
            </div>
        </div>
    </div>
</div>
<br />

<div class="row mb-auto">
    <div class="col-md-12">
        <div class="row no-gutters border mb-12">
            <div class="col p-12 d-flex flex-column position-static">
                <partial name="_tarjetaPrestamos" />
            </div>
        </div>
    </div>
</div>
<br />

<div class="row mb-auto">
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-12 d-flex flex-column position-static">
                <partial name="_tarjetaInventario" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-12 d-flex flex-column position-static">
                <partial name="_tarjetaOficinaVirtual" />
            </div>
        </div>
    </div>
</div>

